@import "../styles/extend/hover.scss";
@import "../styles/mixin/media_breakpoints.scss";
@import "../variables/typography.scss";
@import "../variables/colors.scss";
@import "../variables/breakpoints.scss";

/*HEADER*/
.header {
  justify-content: space-between;
  max-width: 1274px;
  margin: 0 auto;

  &-logo {
    width: 100px;
    height: 40.56px;
    &:hover {
      @extend %hover-effect;
    }
  }

  &-menu {
    align-items: center;
    gap: 115px;
    transition: all 0.5s ease-out;

    &__item {
      color: $font-color__primary;
      font-weight: $font-weight_s;
      font-size: $font-size_s;
      line-height: $font-size_m-2;
      &:hover {
        @extend %hover-effect-nav-item;
      }
    }
  }

  &__burger {
    display: none;
    .burger-menu_lines::before,
    .burger-menu_lines::after,
    .burger-menu_lines {
      position: absolute;
      width: 40px;
      height: 3px;
      background-color: $color__primary;
      border-radius: 20px;
    }
    .burger-menu_lines {
      top: 5%;
      left: 90%;
      transform: translate(-50%, -50%);
    }
    .burger-menu_lines::before {
      content: "";
      top: -12px;
    }
    .burger-menu_lines::after {
      content: "";
      top: 12px;
    }
    &:hover {
      @extend %hover-effect-nav-item;
    }
  }
}
.header-menu__wrapper-left {
  gap: 43px;
}

.header-menu__wrapper-right {
  gap: 59px;
}

.signin__btn {
  align-self: center;
  justify-content: center;
  align-items: center;
  width: 121px;
  height: 40px;
  background: $btn-bg-color__primary;
  border-radius: 12px;
  font-weight: 700;
  color: $color_secondary;
  transition: all 0.5s ease-out;

  &:hover {
    @extend %hover-effect-signin-btn;
  }
}

.hide {
  opacity: 0;
  transition: all 0.5s ease-out;
}

@include desktop {
  .header {
    max-width: 90%;
    transition: all 0.5s ease-out;

    &-menu {
      gap: 50px;

      &__wrapper-left,
      &__wrapper-right {
        gap: 20px;
      }
    }
  }
}

@include laptop {
  .header-menu__item {
    transition: all 0.5s ease-out;
    font-size: $font-size_xl;
    line-height: $font-size_s;
  }
  .signin__btn {
    width: 80px;
    height: 30px;
  }
  .header-menu,
  .header-menu__wrapper-left,
  .header-menu__wrapper-right {
    gap: 10px;
  }
}

@include table {
  .header {
    max-width: 100%;
    gap: 15px;

    &-logo {
      padding-left: 5px;
    }
    &-menu {
      position: absolute;
      top: 10%;
      background: $bg-color_accent;
      z-index: 99;
      width: 100vw;
      padding-left: 5px;
      padding-bottom: 10%;
      &__item {
        transition: all 0.5s ease-out;
        font-size: $font-size_m-2;
        line-height: $font-size_ml;
      }
    }
    .signin__btn {
      position: absolute;
      top: 30%;
      z-index: 99;
      width: 100vw;
    }

    &__burger {
      display: block;
    }
  }
  .header,
  .header-menu,
  .header-menu__wrapper-left,
  .header-menu__wrapper-right {
    flex-direction: column;
    align-items: start;
  }
  .signin__btn {
    width: 100%;
  }
}

