@import "../styles/extend/hover.scss";
@import "../variables/typography.scss";
@import "../variables/colors.scss";

/*HEADER*/
.header {
  justify-content: space-between;
  max-width: 1274px;
  margin: 0 auto;

  &-logo {
    width: 100px;
    height: 40.56px;
    &:hover {
      @extend %hover-effect;
    }
  }

  &-menu {
    align-items: center;
    align-items: center;
    gap: 115px;

    &__item {
      color: $font-color__primary;
      font-weight: $font-weight_s;
      font-size: $font-size_s;
      line-height: $font-size_m-2;
      &:hover {
        @extend %hover-effect-nav-item;
      }
    }
  }
}
.header-menu__wrapper-left {
  gap: 43px;
}

.header-menu__wrapper-right {
  gap: 59px;
}

// .wrapper-item {
//   color: $font-color__primary;
//   font-weight: $font-weight_s;
//   font-size: $font-size_s;
//   line-height: $font-size_m-2;

//   &:hover {
//     @extend %hover-effect-nav-item;
//   }
// }

.signin__btn {
  justify-content: center;
  align-items: center;
  width: 121px;
  height: 40px;
  background: $btn-bg-color__primary;
  border-radius: 12px;
  font-weight: 700;
  color: $color_secondary;

  &:hover {
    @extend %hover-effect-signin-btn;
  }
}
