@charset "UTF-8";
.card__btn-choose:hover {
  cursor: pointer;
  opacity: 0.5;
  transition: all 0.3s ease-out;
}

.checkbox__btn-submit:hover {
  cursor: pointer;
  background: #1274e5;
  transition: all 0.3s ease-out;
}

.modal__title {
  font-weight: 900;
  font-size: 32px;
  line-height: 38px;
}

.modal__subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

.card__title {
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;
}

.card__priсe {
  font-size: 24px;
  line-height: 29px;
}

.card__subtitle {
  font-size: 16px;
  line-height: 22px;
}

.open {
  opacity: 1;
  z-index: 1050;
}

.modal {
  width: 90%;
  padding-top: 50px;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: center/cover no-repeat url(../img/signupBG.png) rgb(0, 0, 0);
  position: fixed;
  top: 20%;
  left: 5vw;
  opacity: 0;
  transition: opacity 200ms ease-in;
  border-radius: 10px;
}
.modal__title {
  margin-bottom: 12px;
}
.modal__wrapper {
  gap: 35px;
  justify-content: center;
}

.card__activ-svg {
  opacity: 0;
  width: 38px;
  height: 38px;
  position: absolute;
  top: -5%;
  left: 95%;
}
.card__activ-svg__activ {
  opacity: 1;
}

.card {
  height: 250px;
  position: relative;
  margin: 32px 0 32px;
  width: 502px;
  height: 250px;
  background: linear-gradient(90deg, rgba(0, 89, 193, 0.5) 0%, rgba(13, 0, 123, 0.5) 100%);
  border-radius: 12px;
  padding: 32px;
  flex-direction: column;
}
.card__activ {
  border: 1px solid rgba(0, 89, 193, 0.5);
}
.card__wrapper {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.card__subtitle {
  text-align: start;
}
.card__subtitle-position {
  height: 48px;
  margin-bottom: 2px;
}
.card__btn-choose {
  margin-top: 27px;
  width: 93px;
  height: 40px;
  background: #e38b00;
  border-radius: 12px;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  align-self: flex-end;
}
.signin__form {
  flex-direction: column;
  width: 733px;
  margin: 24px auto 0;
  gap: 24px;
  text-align: start;
}
.signin__form-user-name {
  width: 100%;
  gap: 32px;
}
.signin__form-input {
  width: 50%;
  background: none;
  border: none;
  border-bottom: 2px solid rgb(217, 217, 217);
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.5);
  padding-bottom: 11px;
  /*focus*/
}
.signin__form-input:focus {
  outline: none;
  border-bottom: 1px solid #e38b00;
}
.signin__form-input-email, .signin__form-input-password {
  width: 100%;
}
.signin__form-input-checkbox {
  border-bottom: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
  /*checked*/
  /*focus*/
}
.signin__form-input-checkbox:checked + .input-checkbox__icon {
  background-color: rgb(255, 255, 255);
}
.signin__form-input-checkbox:focus + .input-checkbox__icon {
  border: 2px solid #e38b00;
}

.checkbox {
  display: flex;
  justify-content: start;
  padding-left: 35px;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
  line-height: 17px;
  color: rgba(255, 255, 255, 0.5);
}

.input-checkbox__icon {
  position: absolute;
  width: 20px;
  height: 20px;
  margin-left: -35px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
}

.checkbox__btn-submit {
  width: 100%;
  width: 733px;
  height: 40px;
  background: #0059c1;
  border-radius: 12px;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
}
.checkbox__btn-text {
  margin-top: -8px;
  font-size: 12px;
  line-height: 13px;
}

.checkbox__btn-text__span {
  color: rgb(227, 139, 0);
  padding-bottom: 55px;
}

@media (max-width: 1280px) {
  .signin {
    width: 90%;
    margin: 0 auto;
  }
  .signin__wrapper {
    flex-direction: column;
    gap: 15px;
  }
  .card {
    align-self: center;
    margin: 10px 0 10px;
  }
}
@media (max-width: 1024px) {
  .signin__form {
    width: 100%;
  }
  .checkbox__btn-submit {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .signin {
    padding: 5px;
  }
  .signin__subtitle {
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;
  }
  .card {
    width: 90%;
  }
  .card__title {
    font-size: 16px;
    line-height: 17px;
  }
}
@media (max-width: 500px) {
  .signin__subtitle {
    font-size: 16px;
    line-height: 19px;
  }
  .card {
    padding: 5px;
  }
}/*# sourceMappingURL=signin.css.map */