@import "../styles/extend/hover.scss";
@import "../variables/typography.scss";
@import "../variables/colors.scss";
@import "../styles/extend/font.scss";
@import "../styles/mixin/media_breakpoints.scss";
@import "../variables/breakpoints.scss";

.slider {
  max-width: 1274px;
  margin: 0 auto;
  padding-top: 23px;
  position: relative;
}

.slider-img {
  background: url(../img/contentIMG.png) no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 595px;
  max-width: 100%;
  position: relative;
  z-index: 1;
  justify-content: end;
  flex-direction: column;
}
.slider-img::before {
  content: "";
  background: $bg-color_accent_secondary;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.slider-box {
  margin: 0 auto;
  // justify-content: center;
  // position: absolute;
  right: 24.5%;
  top: 58%;

  &__logo {
    width: 658px;
  }
}

.slider-scrollLine {
  position: relative;
  width: 500px;
  padding-top: 24px;
  margin: 0 auto;
  border-bottom: 1px solid $color_accent;

  &:hover {
    @extend %hover-effect-slider-scrollLine;
  }

  &__activ {
    border-bottom: 1px solid $item-color-active;
    width: 100px;
    position: absolute;

    &:hover {
      @extend %hover-effect-item-active;
    }
  }
}

.slider-play__btn {
  margin: 0 auto;
  width: 198px;
  cursor: pointer;
  background: none;
  display: flex;
  justify-content: center;
  padding: 0;
  align-items: center;
  gap: 10px;
  padding-bottom: 18px;
  padding-top: 20px;

  &:hover {
    @extend %hover-effect-item-active;
  }

  &-icon {
    background: url(../img/icon/playICON.png) no-repeat 60%/12px 14px
      rgba(255, 255, 255, 0.1);
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  &-text {
    font-weight: $font-weight_s;
    font-size: $font-size_default;
    line-height: $line-height_default;
    color: $color__primary;
    font-family: $font-family_default;
    font-style: $font-style_default;
  }
}
@include desktop {
  .slider {
    max-width: 100%;
    transition: all 0.5s ease-out;
  }
}

@include laptop {
  .slider-box {
    width: 90%;

    &__logo {
      width: 100%;
    }
  }
  .slider-scrollLine {
    width: 100%;

    &_activ {
      width: 33%;
    }
  }
}