.subscription_title {
  font-weight: 900;
  font-size: 32px;
  line-height: 38px;
}

.subscription {
  margin: 60px auto 32px;
  width: 1274px;
}
.subscription_title {
  padding-bottom: 24px;
  color: #fff;
}

.card-list {
  position: relative;
  justify-content: center;
}

.item-left {
  left: 9%;
}

.item-left::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(-90deg, #000000 0%, rgba(13, 0, 123, 0.25) 100%);
  border-radius: 12px;
}

.card-active {
  z-index: 100;
  background: linear-gradient(90deg, rgba(0, 89, 193, 0.5) 0%, rgba(13, 0, 123, 0.5) 100%);
  border: 1px solid rgba(0, 89, 193, 0.5);
  border: 1px solid rgba(0, 89, 193, 0.5);
}

.item-right {
  right: 9%;
}

.item-right::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(90deg, #000000 0%, rgba(13, 0, 123, 0.25) 100%);
  border-radius: 12px;
}

.card-item {
  cursor: pointer;
  position: relative;
  max-width: 502px;
  max-height: 296px;
  border-radius: 12px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.card-title {
  font-weight: 900;
  font-size: 30px;
  line-height: 38px;
  color: #fff;
  white-space: nowrap;
}

.options-list {
  padding-left: 15px;
  gap: 16px;
  flex-direction: column;
  margin: 0;
}
.options-list-item {
  font-size: 16px;
  line-height: 19px;
  color: #fff;
}

.btn-box {
  flex-direction: row;
  justify-content: end;
  gap: 10px;
}

.btn {
  width: 147px;
  height: 40px;
  border-radius: 12px;
  border: 1px solid #e3b100;
  border-radius: 12px;
  background: none;
  color: #fff;
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

.btn:hover {
  cursor: pointer;
  box-shadow: 0 0 10px 0 rgb(227, 177, 0) inset, 0 0 10px 2px rgb(229, 203, 110);
  transition: all 0.3s ease-out;
}

.btn-activ {
  background: rgb(227, 177, 0);
}

@media (max-width: 1280px) {
  .subscription {
    width: 90%;
  }
  .card-list {
    transition: all 0.5s ease-out;
    flex-direction: column;
    gap: 10px;
  }
  .card-item {
    align-self: center;
  }
  .item-left {
    left: 0;
  }
  .item-right {
    right: 0;
  }
  .item-right::before {
    content: "";
    background: linear-gradient(-90deg, #000000 0%, rgba(13, 0, 123, 0.25) 100%);
  }
}
@media (max-width: 768px) {
  .subscription {
    margin: 0 auto;
  }
  .card-item {
    max-width: 100%;
    padding: 20px;
  }
  .card-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
  }
  .btn {
    font-weight: 700;
    font-size: 13px;
    line-height: 17px;
  }
}
@media (max-width: 500px) {
  .card-item::before {
    background: linear-gradient(90deg, rgba(0, 89, 193, 0.25) 0%, rgba(13, 0, 123, 0.25) 100%);
    border: 1px solid rgba(0, 89, 193, 0.5);
  }
  .btn {
    width: 100%;
  }
  .btn-box {
    flex-direction: column;
  }
}/*# sourceMappingURL=subscription.css.map */