@import "./colors.scss";
@import "./typography.scss";
html {
  scroll-behavior: smooth;
}
body {
  max-width: 1920px;
  background: $bg-color_accent;
  color: $color__primary;

  font-family: $font-family_default;
  font-style: $font-style_default;
  font-weight: $font-weight_default;
  margin: 0 auto;
}

main {
  width: 100%;
}

.page {
  margin: 24px auto 32px;
}

.flex {
  display: flex;
}

