body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

h1,h2, h3, h4,
p {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

img {
  height: auto;
}

a {
  text-decoration: none;
}

button {
  border: none;
  outline: none;
}