$font-family_default: "Lato", sans-serif;

// font weights
$font-weight_default: 500;
$font-weight_l: 900;
$font-weight_m: 700;
$font-weight_s: 400;

// font style
$font-style_default: normal;

// font sizes
$font-size_default: 15px;
$font-size_l: 32px;
$font-size_l-2: 24px;
$font-size_ml: 18px;
$font-size_m-2: 16px;
$font-size_m: 14px;
$font-size_s: 13px;
$font-size_xs: 12px;
$font-size_xl: 11px;

//line-height
$line-height_default: 18px;
$line-height_l: 38px;
$line-height_l-2: 29px;
$line-height_ml-2:22px;
$line-height_m-2: 19px;
$line-height_ml: 18px;
$line-height_m: 17px;
$line-height_s: 16px;
$line-height_xs: 14px;
$line-height_xs: 13px;
