@charset "UTF-8";
@import "../variables/res.css";
body {
  max-width: 1920px;
  background: #000;
  color: rgb(255, 255, 255);
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 500;
  margin: 0 auto;
}

main {
  width: 100%;
}

.page {
  margin: 24px auto 32px;
}

.flex {
  display: flex;
}

.hide {
  visibility: hidden;
}

.blur {
  filter: blur(4px);
  transition: all 0.5s ease-out;
}

.faq-container__question:hover, .card__btn-choose:hover, .header-logo:hover {
  cursor: pointer;
  opacity: 0.5;
  transition: all 0.3s ease-out;
}

.footer-logo__link:hover, .footer-navMenu__logo:hover, .footer-navMenu__addConditions-link:hover, .footer-navMenu__menu-link:hover, .footer-link:hover, .arrow__svg:hover, .header__burger:hover, .header-menu__item:hover {
  cursor: pointer;
  opacity: 0.5;
  color: rgb(255, 255, 255);
  transition: all 0.3s ease-out;
}

.checkbox__btn-submit:hover, .signin__btn:hover {
  cursor: pointer;
  background: #1274e5;
  transition: all 0.3s ease-out;
}

.slider-scrollLine:hover {
  cursor: pointer;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  transition: all 0.3s ease-out;
}

.slider-play__btn:hover, .slider-scrollLine__activ:hover {
  opacity: 0.8;
  transition: all 0.3s ease-out;
}

.movie-item__info:hover {
  background: linear-gradient(90deg, #000000 0%, rgba(13, 0, 123, 0.25) 100%); /*сделала фон темене, что б лучше был виден таекст на белых фонах*/
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  transition: all 0.3s ease-out;
  opacity: 1;
  z-index: 1000;
}

.watch-wrapper:hover {
  box-shadow: 0 0 10px 0 rgb(227, 177, 0) inset, 0 0 10px 2px rgb(229, 203, 110);
  transition: all 0.3s ease-out;
}

/*HEADER*/
.header {
  justify-content: space-between;
  max-width: 1274px;
  margin: 0 auto;
}
.header-logo {
  width: 100px;
  height: 40.56px;
}
.header-menu {
  align-items: center;
  gap: 115px;
}
.header-menu__item {
  color: rgba(255, 255, 255, 0.75);
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}
.header__burger {
  display: none;
}
.header__burger .burger-menu_lines::before,
.header__burger .burger-menu_lines::after,
.header__burger .burger-menu_lines {
  position: absolute;
  width: 40px;
  height: 3px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
}
.header__burger .burger-menu_lines {
  top: 7%;
  left: 90%;
  transform: translate(-50%, -50%);
}
.header__burger .burger-menu_lines::before {
  content: "";
  top: -12px;
}
.header__burger .burger-menu_lines::after {
  content: "";
  top: 12px;
}
.header-menu__wrapper-left {
  gap: 43px;
}

.header-menu__wrapper-right {
  gap: 59px;
}

.signin__btn {
  align-self: center;
  justify-content: center;
  align-items: center;
  width: 121px;
  height: 40px;
  background: #0059c1;
  border-radius: 12px;
  font-weight: 700;
  color: #fff;
}
@media (max-width: 1280px) {
  .header {
    max-width: 90%;
  }
  .header-menu {
    gap: 50px;
  }
  .header-menu__wrapper-left, .header-menu__wrapper-right {
    gap: 20px;
  }
}
@media (max-width: 1024px) {
  .header-menu__item {
    font-size: 11px;
    line-height: 13px;
  }
  .signin__btn {
    width: 80px;
    height: 30px;
  }
  .header-menu,
  .header-menu__wrapper-left,
  .header-menu__wrapper-right {
    gap: 10px;
  }
}
@media (max-width: 768px) {
  .header {
    max-width: 100%;
    gap: 15px;
  }
  .header-logo {
    padding-left: 30px;
    padding-bottom: 5px;
  }
  .header-menu {
    visibility: visible;
    position: absolute;
    top: 10%;
    background: #000;
    z-index: 99;
    width: 100vw;
    padding-top: 20px;
    padding-left: 30px;
    padding-bottom: 10%;
  }
  .header-menu__item {
    font-size: 16px;
    line-height: 18px;
  }
  .header .signin__btn {
    visibility: visible;
    position: absolute;
    top: 35%;
    z-index: 99;
    width: 100vw;
  }
  .header .hide {
    visibility: hidden;
  }
  .header__burger {
    display: block;
  }
  .header,
  .header-menu,
  .header-menu__wrapper-left,
  .header-menu__wrapper-right {
    flex-direction: column;
    align-items: start;
  }
  .signin__btn {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .header .signin__btn {
    width: 83vw;
  }
}
.faq-container__question:hover, .card__btn-choose:hover, .header-logo:hover {
  cursor: pointer;
  opacity: 0.5;
  transition: all 0.3s ease-out;
}

.footer-logo__link:hover, .footer-navMenu__logo:hover, .footer-navMenu__addConditions-link:hover, .footer-navMenu__menu-link:hover, .footer-link:hover, .arrow__svg:hover, .header-menu__item:hover, .header__burger:hover {
  cursor: pointer;
  opacity: 0.5;
  color: rgb(255, 255, 255);
  transition: all 0.3s ease-out;
}

.checkbox__btn-submit:hover, .signin__btn:hover {
  cursor: pointer;
  background: #1274e5;
  transition: all 0.3s ease-out;
}

.slider-scrollLine:hover {
  cursor: pointer;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  transition: all 0.3s ease-out;
}

.slider-play__btn:hover, .slider-scrollLine__activ:hover {
  opacity: 0.8;
  transition: all 0.3s ease-out;
}

.movie-item__info:hover {
  background: linear-gradient(90deg, #000000 0%, rgba(13, 0, 123, 0.25) 100%); /*сделала фон темене, что б лучше был виден таекст на белых фонах*/
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  transition: all 0.3s ease-out;
  opacity: 1;
  z-index: 1000;
}

.watch-wrapper:hover {
  box-shadow: 0 0 10px 0 rgb(227, 177, 0) inset, 0 0 10px 2px rgb(229, 203, 110);
  transition: all 0.3s ease-out;
}

.faq_title, .content, .cartoons-section__title, .movies-section__title, .tv-shows-section__title, .modal__title, .subscription_title, .movies-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 38px;
}

.modal__subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

.card__title {
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;
}

.card__priсe {
  font-size: 24px;
  line-height: 29px;
}

.card__subtitle {
  font-size: 16px;
  line-height: 22px;
}

.slider {
  max-width: 1274px;
  margin: 0 auto;
  padding-top: 23px;
  position: relative;
}

.slider-img {
  background: url(../img//movie3.png) no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 595px;
  max-width: 100%;
  position: relative;
  z-index: 1;
  justify-content: end;
  flex-direction: column;
}

.slider-img::before {
  content: "";
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 63.19%, #000000 100%);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.slider-box {
  margin: 0 auto;
  right: 24.5%;
  top: 58%;
}
.slider-box__logo {
  width: 658px;
}

.slider-scrollLine {
  position: relative;
  width: 500px;
  padding-top: 24px;
  margin: 0 auto;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.slider-scrollLine__activ {
  border-bottom: 1px solid rgb(227, 177, 0);
  width: 100px;
  position: absolute;
  animation: progressbar 12s linear infinite;
}
.slider-play__btn {
  margin: 0 auto;
  width: 198px;
  cursor: pointer;
  background: none;
  display: flex;
  justify-content: center;
  padding: 0;
  align-items: center;
  gap: 10px;
  padding-bottom: 18px;
  padding-top: 20px;
}
.slider-play__btn-icon {
  background: url(../img/icon/playICON.png) no-repeat 60%/12px 14px rgba(255, 255, 255, 0.1);
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.slider-play__btn-text {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: rgb(255, 255, 255);
  font-family: "Lato", sans-serif;
  font-style: normal;
}

@keyframes progressbar {
  0% {
    width: 0;
  }
  33% {
    width: 33%;
  }
  66% {
    width: 66%;
  }
  100% {
    width: 100%;
  }
}
@media (max-width: 1280px) {
  .slider {
    max-width: 100%;
    transition: all 0.5s ease-out;
  }
}
@media (max-width: 1024px) {
  .slider-box {
    width: 90%;
  }
  .slider-box__logo {
    width: 100%;
  }
  .slider-scrollLine {
    width: 100%;
  }
  .slider-scrollLine_activ {
    width: 33%;
  }
}
.faq-container__question:hover, .card__btn-choose:hover, .header-logo:hover {
  cursor: pointer;
  opacity: 0.5;
  transition: all 0.3s ease-out;
}

.footer-logo__link:hover, .footer-navMenu__logo:hover, .footer-navMenu__addConditions-link:hover, .footer-navMenu__menu-link:hover, .footer-link:hover, .arrow__svg:hover, .header-menu__item:hover, .header__burger:hover {
  cursor: pointer;
  opacity: 0.5;
  color: rgb(255, 255, 255);
  transition: all 0.3s ease-out;
}

.checkbox__btn-submit:hover, .signin__btn:hover {
  cursor: pointer;
  background: #1274e5;
  transition: all 0.3s ease-out;
}

.slider-scrollLine:hover {
  cursor: pointer;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  transition: all 0.3s ease-out;
}

.slider-scrollLine__activ:hover, .slider-play__btn:hover {
  opacity: 0.8;
  transition: all 0.3s ease-out;
}

.movie-item__info:hover {
  background: linear-gradient(90deg, #000000 0%, rgba(13, 0, 123, 0.25) 100%); /*сделала фон темене, что б лучше был виден таекст на белых фонах*/
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  transition: all 0.3s ease-out;
  opacity: 1;
  z-index: 1000;
}

.watch-wrapper:hover {
  box-shadow: 0 0 10px 0 rgb(227, 177, 0) inset, 0 0 10px 2px rgb(229, 203, 110);
  transition: all 0.3s ease-out;
}

.faq_title, .content, .cartoons-section__title, .movies-section__title, .tv-shows-section__title, .modal__title, .subscription_title, .movies-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 38px;
}

.modal__subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

.card__title {
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;
}

.card__priсe {
  font-size: 24px;
  line-height: 29px;
}

.card__subtitle {
  font-size: 16px;
  line-height: 22px;
}

.movies {
  max-width: 1848px;
  padding-left: 287px;
  margin: 0 auto;
  padding-top: 32px;
  position: relative;
}
.movies-title {
  padding-bottom: 24px;
}

.movies-list {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: 24px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.movies-list::-webkit-scrollbar {
  width: 0;
}

.movie-item {
  cursor: pointer;
  position: relative;
  scroll-snap-align: start;
}
.movie-item__img {
  position: relative;
  width: 210px;
  height: 300px;
  background: #d9d9d9;
  border-radius: 12px;
}
.movie-item__info {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  padding: 20px 20px 20px;
  opacity: 0;
  border-radius: 12px;
}
.movie-item__info-header {
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 56px;
}

.rating-box {
  gap: 6.5px;
}

.rating-icon {
  width: 13.31px;
  height: 12.72px;
}

.rating-text {
  font-size: 12px;
  line-height: 14px;
  color: #e3b100;
}

.movie-item__info-header__year {
  font-size: 12px;
  line-height: 13px;
  color: rgba(255, 255, 255, 0.5);
}

.movie-item__info-series {
  font-size: 14px;
  line-height: 17px;
  color: rgba(255, 255, 255, 0.5);
  padding-bottom: 7px;
}

.movie-item__info-name {
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  padding-bottom: 6px;
}

.movie-item__info-description {
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #e8e8e8;
  padding-bottom: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 80px;
}

.watch-wrapper {
  margin-top: 30px;
  width: 170px;
  height: 38px;
  background: #0059c1;
  border-radius: 12px;
  cursor: pointer;
  justify-content: space-between;
  padding: 11px 15px;
}
.watch-wrapper__playIcon {
  width: 10.27px;
  height: 12.36px;
  margin-top: 2px;
}
.watch-wrapper__text {
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  color: #fff;
}

@media (max-width: 1280px) {
  .movies {
    width: 90%;
    padding-left: 0;
  }
}
@media (max-width: 768px) {
  .movies {
    width: 100%;
    padding: 40px 5px;
  }
}
.faq-container__question:hover, .card__btn-choose:hover, .header-logo:hover {
  cursor: pointer;
  opacity: 0.5;
  transition: all 0.3s ease-out;
}

.footer-logo__link:hover, .footer-navMenu__logo:hover, .footer-navMenu__addConditions-link:hover, .footer-navMenu__menu-link:hover, .footer-link:hover, .arrow__svg:hover, .header-menu__item:hover, .header__burger:hover {
  cursor: pointer;
  opacity: 0.5;
  color: rgb(255, 255, 255);
  transition: all 0.3s ease-out;
}

.checkbox__btn-submit:hover, .signin__btn:hover {
  cursor: pointer;
  background: #1274e5;
  transition: all 0.3s ease-out;
}

.slider-scrollLine:hover {
  cursor: pointer;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  transition: all 0.3s ease-out;
}

.slider-scrollLine__activ:hover, .slider-play__btn:hover {
  opacity: 0.8;
  transition: all 0.3s ease-out;
}

.movie-item__info:hover {
  background: linear-gradient(90deg, #000000 0%, rgba(13, 0, 123, 0.25) 100%); /*сделала фон темене, что б лучше был виден таекст на белых фонах*/
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  transition: all 0.3s ease-out;
  opacity: 1;
  z-index: 1000;
}

.watch-wrapper:hover {
  box-shadow: 0 0 10px 0 rgb(227, 177, 0) inset, 0 0 10px 2px rgb(229, 203, 110);
  transition: all 0.3s ease-out;
}

.faq_title, .content, .cartoons-section__title, .movies-section__title, .tv-shows-section__title, .modal__title, .subscription_title, .movies-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 38px;
}

.modal__subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

.card__title {
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;
}

.card__priсe {
  font-size: 24px;
  line-height: 29px;
}

.card__subtitle {
  font-size: 16px;
  line-height: 22px;
}

.subscription {
  margin: 60px auto 32px;
  width: 1274px;
}
.subscription_title {
  padding-bottom: 24px;
  color: #fff;
}

.card-list {
  position: relative;
  justify-content: center;
}

.item-left {
  left: 9%;
}

.item-left::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(-90deg, #000000 0%, rgba(13, 0, 123, 0.25) 100%);
  border-radius: 12px;
}

.card-active {
  z-index: 100;
  background: linear-gradient(90deg, rgba(0, 89, 193, 0.5) 0%, rgba(13, 0, 123, 0.5) 100%);
  border: 1px solid rgba(0, 89, 193, 0.5);
  border: 1px solid rgba(0, 89, 193, 0.5);
}

.item-right {
  right: 9%;
}

.item-right::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(90deg, #000000 0%, rgba(13, 0, 123, 0.25) 100%);
  border-radius: 12px;
}

.card-item {
  cursor: pointer;
  position: relative;
  max-width: 502px;
  max-height: 296px;
  border-radius: 12px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.card-title {
  font-weight: 900;
  font-size: 30px;
  line-height: 38px;
  color: #fff;
  white-space: nowrap;
}

.options-list {
  padding-left: 15px;
  gap: 16px;
  flex-direction: column;
  margin: 0;
}
.options-list-item {
  font-size: 16px;
  line-height: 19px;
  color: #fff;
}

.btn-box {
  flex-direction: row;
  justify-content: end;
  gap: 10px;
}

.btn {
  width: 147px;
  height: 40px;
  border-radius: 12px;
  border: 1px solid #e3b100;
  border-radius: 12px;
  background: none;
  color: #fff;
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

.btn:hover {
  cursor: pointer;
  box-shadow: 0 0 10px 0 rgb(227, 177, 0) inset, 0 0 10px 2px rgb(229, 203, 110);
  transition: all 0.3s ease-out;
}

.btn-activ {
  background: rgb(227, 177, 0);
}

@media (max-width: 1280px) {
  .subscription {
    width: 90%;
  }
  .card-list {
    transition: all 0.5s ease-out;
    flex-direction: column;
    gap: 10px;
  }
  .card-item {
    align-self: center;
  }
  .item-left {
    left: 0;
  }
  .item-right {
    right: 0;
  }
  .item-right::before {
    content: "";
    background: linear-gradient(-90deg, #000000 0%, rgba(13, 0, 123, 0.25) 100%);
  }
}
@media (max-width: 768px) {
  .subscription {
    margin: 0 auto;
  }
  .card-item {
    max-width: 100%;
    padding: 20px;
  }
  .card-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
  }
  .btn {
    font-weight: 700;
    font-size: 13px;
    line-height: 17px;
  }
}
@media (max-width: 500px) {
  .card-item::before {
    background: linear-gradient(90deg, rgba(0, 89, 193, 0.25) 0%, rgba(13, 0, 123, 0.25) 100%);
    border: 1px solid rgba(0, 89, 193, 0.5);
  }
  .btn {
    width: 100%;
  }
  .btn-box {
    flex-direction: column;
  }
}
.faq-container__question:hover, .card__btn-choose:hover, .header-logo:hover {
  cursor: pointer;
  opacity: 0.5;
  transition: all 0.3s ease-out;
}

.footer-logo__link:hover, .footer-navMenu__logo:hover, .footer-navMenu__addConditions-link:hover, .footer-navMenu__menu-link:hover, .footer-link:hover, .arrow__svg:hover, .header-menu__item:hover, .header__burger:hover {
  cursor: pointer;
  opacity: 0.5;
  color: rgb(255, 255, 255);
  transition: all 0.3s ease-out;
}

.checkbox__btn-submit:hover, .signin__btn:hover {
  cursor: pointer;
  background: #1274e5;
  transition: all 0.3s ease-out;
}

.slider-scrollLine:hover {
  cursor: pointer;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  transition: all 0.3s ease-out;
}

.slider-scrollLine__activ:hover, .slider-play__btn:hover {
  opacity: 0.8;
  transition: all 0.3s ease-out;
}

.movie-item__info:hover {
  background: linear-gradient(90deg, #000000 0%, rgba(13, 0, 123, 0.25) 100%); /*сделала фон темене, что б лучше был виден таекст на белых фонах*/
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  transition: all 0.3s ease-out;
  opacity: 1;
  z-index: 1000;
}

.watch-wrapper:hover {
  box-shadow: 0 0 10px 0 rgb(227, 177, 0) inset, 0 0 10px 2px rgb(229, 203, 110);
  transition: all 0.3s ease-out;
}

.faq_title, .content, .cartoons-section__title, .movies-section__title, .tv-shows-section__title, .modal__title, .movies-title, .subscription_title {
  font-weight: 900;
  font-size: 32px;
  line-height: 38px;
}

.modal__subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

.card__title {
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;
}

.card__priсe {
  font-size: 24px;
  line-height: 29px;
}

.card__subtitle {
  font-size: 16px;
  line-height: 22px;
}

.open {
  opacity: 1;
  z-index: 1050;
}

.modal {
  visibility: hidden;
  padding: 5px;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: center/cover no-repeat url(../img/signupBG.png) rgb(0, 0, 0);
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 200ms ease-in;
  border-radius: 10px;
  min-width: 290px;
}
.modal__title {
  margin-bottom: 12px;
}
.modal__wrapper {
  gap: 35px;
  justify-content: center;
}
.modal__btn {
  position: absolute;
  top: -7%;
  left: 100%;
  background: yellow;
  color: black;
  border-radius: 60%;
  padding: 5px 10px;
  border: 1px solid;
  cursor: pointer;
}
.modal__btn:hover {
  background: rgba(0, 34, 255, 0.893);
  transition: all 0.3s ease-out;
  color: white;
  border: 1px solid wheat;
}

.activ {
  visibility: visible;
  transition: all 0.5s ease-out;
}

.card__activ-svg {
  opacity: 0;
  width: 38px;
  height: 38px;
  position: absolute;
  top: -5%;
  left: 95%;
}
.card__activ-svg__activ {
  opacity: 1;
}

.card {
  height: 250px;
  position: relative;
  margin: 32px 0 32px;
  width: 502px;
  height: 250px;
  background: linear-gradient(90deg, rgba(0, 89, 193, 0.5) 0%, rgba(13, 0, 123, 0.5) 100%);
  border-radius: 12px;
  padding: 32px;
  flex-direction: column;
}
.card__activ {
  border: 1px solid rgba(0, 89, 193, 0.5);
}
.card__wrapper {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.card__subtitle {
  text-align: start;
}
.card__subtitle-position {
  height: 48px;
  margin-bottom: 2px;
}
.card__btn-choose {
  margin-top: 27px;
  width: 93px;
  height: 40px;
  background: #e38b00;
  border-radius: 12px;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  align-self: flex-end;
}
.signin__form {
  flex-direction: column;
  width: 733px;
  margin: 24px auto 0;
  gap: 24px;
  text-align: start;
}
.signin__form-user-name {
  width: 100%;
  gap: 32px;
}
.signin__form-input {
  width: 50%;
  background: none;
  border: none;
  border-bottom: 2px solid rgb(217, 217, 217);
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.5);
  padding-bottom: 11px;
  /*focus*/
}
.signin__form-input:focus {
  outline: none;
  border-bottom: 1px solid #e38b00;
}
.signin__form-input-email, .signin__form-input-password {
  width: 100%;
}
.signin__form-input-checkbox {
  border-bottom: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
  /*checked*/
  /*focus*/
}
.signin__form-input-checkbox:checked + .input-checkbox__icon {
  background-image: url(../img/icon/icons8-чекбокс-зачеканный.png);
}
.signin__form-input-checkbox:focus + .input-checkbox__icon {
  border: 2px solid #e38b00;
}

.checkbox {
  display: flex;
  justify-content: start;
  padding-left: 35px;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
  line-height: 17px;
  color: rgba(255, 255, 255, 0.5);
}

.input-checkbox__icon {
  position: absolute;
  width: 20px;
  height: 20px;
  margin-left: -35px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  background-image: url(../img/icon/icons8-пустой.png);
  background-size: cover;
}

.checkbox__btn-submit {
  width: 100%;
  width: 733px;
  height: 40px;
  background: #0059c1;
  border-radius: 12px;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
}
.checkbox__btn-text {
  margin-top: -8px;
  font-size: 12px;
  line-height: 13px;
}

.checkbox__btn-text__span {
  color: rgb(227, 139, 0);
  padding-bottom: 55px;
}

@media (max-width: 1280px) {
  .signin {
    width: 90%;
    margin: 0 auto;
  }
  .signin__wrapper {
    flex-direction: column;
    gap: 15px;
  }
  .card {
    align-self: center;
    margin: 10px 0 10px;
  }
}
@media (max-width: 1024px) {
  .signin__form {
    width: 100%;
  }
  .checkbox__btn-submit {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .signin {
    padding: 5px;
  }
  .signin__subtitle {
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;
  }
  .card {
    width: 90%;
  }
  .card__title {
    font-size: 16px;
    line-height: 17px;
  }
}
@media (max-width: 500px) {
  .signin__subtitle {
    font-size: 16px;
    line-height: 19px;
  }
  .card {
    padding: 5px;
  }
  .modal__btn {
    left: 90%;
  }
}
.faq-container__question:hover, .header-logo:hover, .card__btn-choose:hover {
  cursor: pointer;
  opacity: 0.5;
  transition: all 0.3s ease-out;
}

.footer-logo__link:hover, .footer-navMenu__logo:hover, .footer-navMenu__addConditions-link:hover, .footer-navMenu__menu-link:hover, .footer-link:hover, .arrow__svg:hover, .header-menu__item:hover, .header__burger:hover {
  cursor: pointer;
  opacity: 0.5;
  color: rgb(255, 255, 255);
  transition: all 0.3s ease-out;
}

.signin__btn:hover, .checkbox__btn-submit:hover {
  cursor: pointer;
  background: #1274e5;
  transition: all 0.3s ease-out;
}

.slider-scrollLine:hover {
  cursor: pointer;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  transition: all 0.3s ease-out;
}

.slider-scrollLine__activ:hover, .slider-play__btn:hover {
  opacity: 0.8;
  transition: all 0.3s ease-out;
}

.movie-item__info:hover {
  background: linear-gradient(90deg, #000000 0%, rgba(13, 0, 123, 0.25) 100%); /*сделала фон темене, что б лучше был виден таекст на белых фонах*/
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  transition: all 0.3s ease-out;
  opacity: 1;
  z-index: 1000;
}

.watch-wrapper:hover {
  box-shadow: 0 0 10px 0 rgb(227, 177, 0) inset, 0 0 10px 2px rgb(229, 203, 110);
  transition: all 0.3s ease-out;
}

.faq_title, .content, .cartoons-section__title, .movies-section__title, .tv-shows-section__title, .movies-title, .subscription_title, .modal__title {
  font-weight: 900;
  font-size: 32px;
  line-height: 38px;
}

.modal__subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

.card__title {
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;
}

.card__priсe {
  font-size: 24px;
  line-height: 29px;
}

.card__subtitle {
  font-size: 16px;
  line-height: 22px;
}

.movieMenu {
  padding-left: 20px;
  max-width: 1317px;
  padding-top: 46px;
  margin: 0 auto;
  flex-direction: column;
}

.section__wrapper {
  width: 100%;
  align-items: center;
  gap: 20px;
}

.film__list {
  max-width: 1274px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: 16px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.film__list::-webkit-scrollbar {
  width: 0;
}

.movie-item {
  cursor: pointer;
  position: relative;
  scroll-snap-align: start;
}
.movie-item__img {
  position: relative;
  width: 210px;
  height: 300px;
  background: #d9d9d9;
  border-radius: 12px;
}
.movie-item__info {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 1px;
  padding: 20px 20px 20px;
  opacity: 0;
  border-radius: 12px;
}
.movie-item__info-header {
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 56px;
}

.rating-box {
  gap: 6.5px;
}

.rating-icon {
  width: 13.31px;
  height: 12.72px;
}

.rating-text {
  font-size: 12px;
  line-height: 14px;
  color: #e3b100;
}

.movie-item__info-header__year {
  font-size: 12px;
  line-height: 13px;
  color: rgba(255, 255, 255, 0.5);
}

.movie-item__info-series {
  font-size: 14px;
  line-height: 17px;
  color: rgba(255, 255, 255, 0.5);
  padding-bottom: 7px;
}

.movie-item__info-name {
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  padding-bottom: 6px;
}

.movie-item__info-description {
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #e8e8e8;
  padding-bottom: 48px;
}

.watch-wrapper {
  width: 170px;
  height: 38px;
  background: #0059c1;
  border-radius: 12px;
  cursor: pointer;
  justify-content: space-between;
  padding: 11px 15px;
}
.watch-wrapper__playIcon {
  width: 10.27px;
  height: 12.36px;
  margin-top: 2px;
}
.watch-wrapper__text {
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  color: #fff;
}

.tv-shows-section {
  max-width: 1317px;
  position: relative;
  margin-bottom: 30px;
}
.tv-shows-section__title {
  padding-bottom: 20px;
}

.movies-section {
  max-width: 1317px;
  position: relative;
  margin-bottom: 30px;
}
.movies-section__title {
  padding-bottom: 28px;
}

.cartoons-section {
  max-width: 1317px;
  position: relative;
}
.cartoons-section__title {
  padding-bottom: 20px;
}

.faq-container__question:hover, .header-logo:hover, .card__btn-choose:hover {
  cursor: pointer;
  opacity: 0.5;
  transition: all 0.3s ease-out;
}

.footer-logo__link:hover, .footer-navMenu__logo:hover, .footer-navMenu__addConditions-link:hover, .footer-navMenu__menu-link:hover, .footer-link:hover, .header-menu__item:hover, .header__burger:hover, .arrow__svg:hover {
  cursor: pointer;
  opacity: 0.5;
  color: rgb(255, 255, 255);
  transition: all 0.3s ease-out;
}

.signin__btn:hover, .checkbox__btn-submit:hover {
  cursor: pointer;
  background: #1274e5;
  transition: all 0.3s ease-out;
}

.slider-scrollLine:hover {
  cursor: pointer;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  transition: all 0.3s ease-out;
}

.slider-scrollLine__activ:hover, .slider-play__btn:hover {
  opacity: 0.8;
  transition: all 0.3s ease-out;
}

.movie-item__info:hover {
  background: linear-gradient(90deg, #000000 0%, rgba(13, 0, 123, 0.25) 100%); /*сделала фон темене, что б лучше был виден таекст на белых фонах*/
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  transition: all 0.3s ease-out;
  opacity: 1;
  z-index: 1000;
}

.watch-wrapper:hover {
  box-shadow: 0 0 10px 0 rgb(227, 177, 0) inset, 0 0 10px 2px rgb(229, 203, 110);
  transition: all 0.3s ease-out;
}

.faq_title, .content, .movies-title, .subscription_title, .modal__title, .tv-shows-section__title, .movies-section__title, .cartoons-section__title {
  font-weight: 900;
  font-size: 32px;
  line-height: 38px;
}

.modal__subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

.card__title {
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;
}

.card__priсe {
  font-size: 24px;
  line-height: 29px;
}

.card__subtitle {
  font-size: 16px;
  line-height: 22px;
}

.footer {
  justify-content: space-between;
  max-width: 1274px;
  align-items: center;
  margin: 0 auto;
}
.footer__wrapper {
  gap: 12px;
}

.footer-link {
  height: 30px;
  justify-content: center;
  align-items: center;
  background: #0059c1;
  border-radius: 6px;
  font-weight: 700;
  color: #fff;
  font-size: 13px;
}
.footer-support {
  padding-bottom: 10px;
}
.footer-support__title {
  font-size: 14px;
  margin-bottom: 17px;
}
.footer-support__message {
  width: 142px;
}
.footer-support__email {
  width: 40px;
}
.footer-support__call {
  width: 40px;
}

.footer-navMenu {
  background: url(../img/footerBgr.png);
  background-position: center;
  background-size: cover;
  width: 427px;
  height: 286px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 36px 0 30px;
}
.footer-navMenu__wrapper {
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}
.footer-navMenu__menu {
  gap: 16px;
}
.footer-navMenu__menu-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #707070;
}
.footer-navMenu__menu-link-activ {
  color: #fff;
}
.footer-navMenu__menu-link-special {
  background: linear-gradient(180deg, #0059C1 0%, #9E00FF 77.08%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-bottom: 1px solid #9e00ff;
}
.footer-navMenu__addConditions {
  margin-top: 7px;
  gap: 16px;
  justify-content: center;
}
.footer-navMenu__addConditions-link {
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  color: #707070;
}
.footer-navMenu__logo-img {
  width: 63px;
  height: 26px;
}
.footer-navMenu__paragraf {
  width: 252px;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  text-align: center;
  color: #707070;
}

.footer-logo {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-logo__paragraf {
  margin-bottom: 13px;
  font-size: 12px;
  align-self: end;
}
@media (max-width: 1280px) {
  .footer {
    max-width: 90%;
  }
}
@media (max-width: 1024px) {
  .footer {
    max-width: 100%;
    flex-direction: column;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .footer-navMenu {
    width: 100%;
  }
  .footer-navMenu__menu {
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 500px) {
  .footer-navMenu__menu-link {
    font-size: 10px;
  }
}
.faq-container__question:hover, .header-logo:hover, .card__btn-choose:hover {
  cursor: pointer;
  opacity: 0.5;
  transition: all 0.3s ease-out;
}

.header-menu__item:hover, .header__burger:hover, .arrow__svg:hover, .footer-link:hover, .footer-navMenu__menu-link:hover, .footer-navMenu__addConditions-link:hover, .footer-navMenu__logo:hover, .footer-logo__link:hover {
  cursor: pointer;
  opacity: 0.5;
  color: rgb(255, 255, 255);
  transition: all 0.3s ease-out;
}

.signin__btn:hover, .checkbox__btn-submit:hover {
  cursor: pointer;
  background: #1274e5;
  transition: all 0.3s ease-out;
}

.slider-scrollLine:hover {
  cursor: pointer;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  transition: all 0.3s ease-out;
}

.slider-scrollLine__activ:hover, .slider-play__btn:hover {
  opacity: 0.8;
  transition: all 0.3s ease-out;
}

.movie-item__info:hover {
  background: linear-gradient(90deg, #000000 0%, rgba(13, 0, 123, 0.25) 100%); /*сделала фон темене, что б лучше был виден таекст на белых фонах*/
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  transition: all 0.3s ease-out;
  opacity: 1;
  z-index: 1000;
}

.watch-wrapper:hover {
  box-shadow: 0 0 10px 0 rgb(227, 177, 0) inset, 0 0 10px 2px rgb(229, 203, 110);
  transition: all 0.3s ease-out;
}

.faq_title, .content, .movies-title, .subscription_title, .modal__title, .tv-shows-section__title, .movies-section__title, .cartoons-section__title {
  font-weight: 900;
  font-size: 32px;
  line-height: 38px;
}

.modal__subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

.card__title {
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;
}

.card__priсe {
  font-size: 24px;
  line-height: 29px;
}

.card__subtitle {
  font-size: 16px;
  line-height: 22px;
}

.content {
  max-width: 1274px;
  text-align: center;
  margin: 0 auto;
  margin: 100px auto 100px;
}

.faq-container__question:hover, .header-logo:hover, .card__btn-choose:hover {
  cursor: pointer;
  opacity: 0.5;
  transition: all 0.3s ease-out;
}

.header-menu__item:hover, .header__burger:hover, .arrow__svg:hover, .footer-link:hover, .footer-navMenu__menu-link:hover, .footer-navMenu__addConditions-link:hover, .footer-navMenu__logo:hover, .footer-logo__link:hover {
  cursor: pointer;
  opacity: 0.5;
  color: rgb(255, 255, 255);
  transition: all 0.3s ease-out;
}

.signin__btn:hover, .checkbox__btn-submit:hover {
  cursor: pointer;
  background: #1274e5;
  transition: all 0.3s ease-out;
}

.slider-scrollLine:hover {
  cursor: pointer;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  transition: all 0.3s ease-out;
}

.slider-scrollLine__activ:hover, .slider-play__btn:hover {
  opacity: 0.8;
  transition: all 0.3s ease-out;
}

.movie-item__info:hover {
  background: linear-gradient(90deg, #000000 0%, rgba(13, 0, 123, 0.25) 100%); /*сделала фон темене, что б лучше был виден таекст на белых фонах*/
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  transition: all 0.3s ease-out;
  opacity: 1;
  z-index: 1000;
}

.watch-wrapper:hover {
  box-shadow: 0 0 10px 0 rgb(227, 177, 0) inset, 0 0 10px 2px rgb(229, 203, 110);
  transition: all 0.3s ease-out;
}

.faq_title, .movies-title, .subscription_title, .modal__title, .tv-shows-section__title, .movies-section__title, .cartoons-section__title, .content {
  font-weight: 900;
  font-size: 32px;
  line-height: 38px;
}

.modal__subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

.card__title {
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;
}

.card__priсe {
  font-size: 24px;
  line-height: 29px;
}

.card__subtitle {
  font-size: 16px;
  line-height: 22px;
}

.content {
  max-width: 1274px;
  text-align: center;
  margin: 0 auto;
  margin: 100px auto 100px;
}

.faq-container__question:hover, .header-logo:hover, .card__btn-choose:hover {
  cursor: pointer;
  opacity: 0.5;
  transition: all 0.3s ease-out;
}

.header-menu__item:hover, .header__burger:hover, .arrow__svg:hover, .footer-link:hover, .footer-navMenu__menu-link:hover, .footer-navMenu__addConditions-link:hover, .footer-navMenu__logo:hover, .footer-logo__link:hover {
  cursor: pointer;
  opacity: 0.5;
  color: rgb(255, 255, 255);
  transition: all 0.3s ease-out;
}

.signin__btn:hover, .checkbox__btn-submit:hover {
  cursor: pointer;
  background: #1274e5;
  transition: all 0.3s ease-out;
}

.slider-scrollLine:hover {
  cursor: pointer;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  transition: all 0.3s ease-out;
}

.slider-scrollLine__activ:hover, .slider-play__btn:hover {
  opacity: 0.8;
  transition: all 0.3s ease-out;
}

.movie-item__info:hover {
  background: linear-gradient(90deg, #000000 0%, rgba(13, 0, 123, 0.25) 100%); /*сделала фон темене, что б лучше был виден таекст на белых фонах*/
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  transition: all 0.3s ease-out;
  opacity: 1;
  z-index: 1000;
}

.watch-wrapper:hover {
  box-shadow: 0 0 10px 0 rgb(227, 177, 0) inset, 0 0 10px 2px rgb(229, 203, 110);
  transition: all 0.3s ease-out;
}

.faq_title, .movies-title, .subscription_title, .modal__title, .tv-shows-section__title, .movies-section__title, .cartoons-section__title, .content {
  font-weight: 900;
  font-size: 32px;
  line-height: 38px;
}

.modal__subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

.card__title {
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;
}

.card__priсe {
  font-size: 24px;
  line-height: 29px;
}

.card__subtitle {
  font-size: 16px;
  line-height: 22px;
}

.faq {
  max-width: 1280px;
  min-height: 300px;
  margin: 20px auto 20px;
  padding: 5px;
}
.faq_title {
  padding-bottom: 24px;
  color: #fff;
}
.faq-container {
  flex-direction: column;
  gap: 5px;
}
.faq-container__item {
  flex-direction: column;
}
.faq-container__item.opened .faq-container__question__btn::before,
.faq-container__item.opened .faq-container__question__btn::after {
  transform: rotate(0deg);
}
.faq-container__item.opened .faq-container__answer {
  opacity: 1;
  display: block;
}
.faq-container__answer {
  background: #1b1b24;
  border-radius: 0px 0px 6px 6px;
  color: #b7b6de;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  display: none;
  height: 0;
  opacity: 0;
  transition: height 0.25s, opacity 0.25s;
}
.faq-container__question {
  flex-direction: row;
  justify-content: space-between;
  background: #21212c;
  padding: 10px;
  border-radius: 6px 6px 0px 0px;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  position: relative;
}
.faq-container__question__btn {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 30px;
  transition: transform 3s;
}
.faq-container__question__btn::before, .faq-container__question__btn::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  background: #9e00ff;
}
.faq-container__question__btn::before {
  transform: rotate(45deg);
}
.faq-container__question__btn::after {
  transform: rotate(-45deg);
}
.faq .answer-title {
  padding: 10px;
}/*# sourceMappingURL=index.css.map */