body {
  max-width: 1920px;
  background: #000;
  color: rgba(255, 255, 255, 1);
  font-family: "Lato", sans-serif;
}

main {
  width: 100%;
}

.page {
  width: 1276px;
  margin: 24px auto 32px;
}

/*HEADER*/
.header {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 100px;
  height: 40.56px;
  cursor: pointer;
}

.logo:hover {
  opacity: 0.7;
  transition: all 0.3s ease-out;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 115px;
}

.wrapper-left {
  display: flex;
  gap: 43px;
}

.wrapper-right {
  display: flex;
  gap: 59px;
}

.wrapper-item {
  color: rgba(255, 255, 255, 0.75);
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}
.wrapper-item:hover {
  color: rgba(255, 255, 255, 1);
  transition: all 0.3s ease-out;
}

.signin {
  width: 121px;
  height: 40px;
  background: #0059c1;
  border-radius: 12px;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
  cursor: pointer;
}
.signin:hover {
  background: #1274e5;
  transition: all 0.3s ease-out;
}

/*SLIDER SECTION*/
.slider {
  padding-top: 36px;
}

.slider-img {
  background-image: url(../img/contentIMG.png);
  min-height: 595px;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: end;
  flex-direction: column;
}
.slider-img::before {
  content: "";
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 63.19%, #000000 100%);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.slider-box {
  margin: 0 auto;
}

.slider-box-logo {
  width: 658px;
}

.slider-scrollLine {
  width: 500px;
  margin-top: 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

/*возможно тут стоит сделать через лейбл и инпут, тогда при выборе части полосы прокрутки мы будем попадать на нужный слайд */
/*если через checkbox, то checked - мы убираем дисплей блок с картинки и показываем ее*/
.slider-scrollLine::before {
  content: "";
  border-bottom: 1px solid rgba(227, 177, 0, 1);
  width: 100px;
  position: absolute;
}

.slider-play {
  margin: 0 auto;
  display: flex;
  gap: 10px;
  padding-top: 20px;
}
.slider-play_btn {
  width: 40px;
  height: 40px;
  background: url(../img/icon/playICON.png) no-repeat 50%/11.9px 14.9px rgba(255, 255, 255, 0.1);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.slider-play_btn:hover {
  box-shadow: 0 0 10px 0 rgba(227, 177, 0) inset, 0 0 10px 2px rgb(229, 203, 110);
   transition: all 0.3s ease-out;
}
.slider-play_text {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  align-items: center;
  display: flex;
}
