body {
  max-width: 1920px;
  background: #000;
  color: rgba(255, 255, 255, 1);
  font-family: "Lato", sans-serif;
  font-style: normal;

  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
}

main {
  width: 100%;
}

.page {
  width: 1276px;
  margin: 24px auto 32px;
}

.flex {
  display: flex;
}

/*HEADER*/
.header {
  justify-content: space-between;
}

.logo {
  width: 100px;
  height: 40.56px;
  cursor: pointer;
}

.logo:hover {
  opacity: 0.7;
  transition: all 0.3s ease-out;
}

.nav-menu {
  align-items: center;
  gap: 115px;
}

.wrapper-left {
  gap: 43px;
}

.wrapper-right {
  gap: 59px;
}

.wrapper-item {
  color: rgba(255, 255, 255, 0.75);
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}
.wrapper-item:hover {
  color: rgba(255, 255, 255, 1);
  transition: all 0.3s ease-out;
}

.signin {
  width: 121px;
  height: 40px;
  background: #0059c1;
  border-radius: 12px;
  font-weight: 700;
  color: #ffffff;
  cursor: pointer;
}
.signin:hover {
  background: #1274e5;
  transition: all 0.3s ease-out;
}

/*SLIDER SECTION*/
.slider {
  padding-top: 36px;
}

.slider-img {
  background-image: url(../img/contentIMG.png);
  min-height: 595px;
  position: relative;
  z-index: 1;
  justify-content: end;
  flex-direction: column;
}
.slider-img::before {
  content: "";
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 63.19%, #000000 100%);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.slider-box {
  margin: 0 auto;
}

.slider-box-logo {
  width: 658px;
}

.slider-scrollLine {
  width: 500px;
  margin-top: 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

/*возможно тут стоит сделать через лейбл и инпут, тогда при выборе части полосы прокрутки мы будем попадать на нужный слайд */
/*если через checkbox, то checked - мы убираем дисплей блок с картинки и показываем ее*/
.slider-scrollLine::before {
  content: "";
  border-bottom: 1px solid rgba(227, 177, 0, 1);
  width: 100px;
  position: absolute;
}

.slider-play {
  margin: 0 auto;
  gap: 10px;
  padding-top: 20px;
}
.slider-play_btn {
  width: 40px;
  height: 40px;
  background: url(../img/icon/playICON.png) no-repeat 50%/11.9px 14.9px
    rgba(255, 255, 255, 0.1);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.slider-play_btn:hover {
  box-shadow: 0 0 10px 0 rgba(227, 177, 0) inset,
    0 0 10px 2px rgb(229, 203, 110);
  transition: all 0.3s ease-out;
}
.slider-play_text {
  font-weight: 400;
  align-items: center;
  display: flex;
}

/*MOVIES*/
.movies {
  padding-top: 32px;
  position: relative;
}

.movies_title {
  font-weight: 900;
  font-size: 32px;
  line-height: 38px;
  padding-bottom: 24px;
}

.movies_list {
  flex-direction: row;
  gap: 24px;
}

.movie_item {
  cursor: pointer;
  position: relative;
}

.movie_item_img {
  position: relative;
  width: 210px;
  height: 300px;
  background: #d9d9d9;
  border-radius: 12px;
  position: relative;
  z-index: 1;
}
.movie_item_img:hover {
  background: rgba(255, 255, 255, 0.15);
  filter: blur(5px);
  transition: all 0.3s ease-out;
  z-index: 0;
}

/*поэтому не работает ховер при наведении на кнопку-_-*/
.movie_item_img:hover + .movie_item_info {
  z-index: 2;
  transition: all 0.3s ease-out;
}

.movie_item_info {
  position: absolute;
  width: 100%;
  top: 20px;
  padding: 0 20px 20px;
  z-index: 0;
}

.movie_item_info_header {
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 56px;
}

.rating_box {
  gap: 6.5px;
}
.rating-icon {
  width: 13.31px;
  height: 12.72px;
}

.rating-text {
  font-size: 12px;
  line-height: 14px;
  color: #e3b100;
}
.movie_item_info_header_year {
  font-size: 12px;
  line-height: 14px;
  color: rgba(255, 255, 255, 0.5);
}

.movie_item_info_series {
  font-size: 14px;
  line-height: 17px;
  color: rgba(255, 255, 255, 0.5);
  padding-bottom: 7px;
}

.movie_item_info_name {
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  padding-bottom: 6px;
}

.movie_item_info_description {
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #e8e8e8;
  padding-bottom: 48px;
}

.watch-wrapper {
  width: 170px;
  height: 38px;
  background: #0059c1;
  border-radius: 12px;
  cursor: pointer;
  justify-content: space-between;
  padding: 11px 15px;
}

.watch-wrapper:hover {
  box-shadow: 0 0 10px 0 rgba(227, 177, 0) inset,
    0 0 10px 2px rgb(229, 203, 110);
  transition: all 0.3s ease-out;
}
.watch-wrapper-playIcon {
  width: 10.27px;
  height: 12.36px;
  margin-top: 2px;
}
.watch-wrapper-text {
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  color: #ffffff;
}

/*SUBSCRIPTION*/
.subscription {
  margin: 81px 0 32px;
}
.subscription_title {
  font-weight: 900;
  font-size: 32px;
  line-height: 38px;
  color: #ffffff;
  padding-bottom: 24px;
}

.card-list {
  position: relative;
  justify-content: center;
}

.one {
  z-index: 0;
  left: 8%;
}
.one:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(-90deg, #000000 0%, rgba(13, 0, 123, 0.25) 100%);
}
.card-active {
  z-index: 100;
  background: linear-gradient(
      0deg,
      rgba(0, 89, 193, 0.5),
      rgba(0, 89, 193, 0.5)
    ),
    linear-gradient(90deg, rgba(0, 89, 193, 0.5) 0%, rgba(13, 0, 123, 0.5) 100%);

  border: 1px solid rgba(0, 89, 193, 0.5);
}
.three {
  z-index: 0;
  right: 8%;
}
.three:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(90deg, #000000 0%, rgba(13, 0, 123, 0.25) 100%);
}
.card-item {
  cursor: pointer;
  position: relative;
  width: 502px;
  height: 296px;
  border-radius: 12px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.card-title {
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;
  color: #ffffff;
  white-space: nowrap;
}

.options-list {
  padding-left: 15px;
  gap: 16px;
  flex-direction: column;
  margin: 0;
}

.options-item {
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

.btn-box {
  flex-direction: row;
  justify-content: end;
  gap: 10px;
}

.btn {
  width: 147px;
  height: 40px;
  border-radius: 12px;
  border: 1px solid #e38b00;
  border-radius: 12px;
  background: none;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  font-weight: 900;
  line-height: 22px;
  text-align: center;
}

.btn:hover {
  box-shadow: 0 0 10px 0 rgba(227, 177, 0) inset,
    0 0 10px 2px rgb(229, 203, 110);
  transition: all 0.3s ease-out;
}
.btn-activ {
  background: rgba(227, 139, 0, 1);
}
